<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" class="width-detail">

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.firstName"
                 type="text"
                 required maxlength="=12"
                 placeholder="First name">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.lastName"
                 type="text"
                 required maxlength="=12"
                 placeholder="Last name">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.eMail"
                 type="text"
                 required maxlength="=12"
                 placeholder="eMail">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.phoneNumber"
                 type="text"
                 required maxlength="=12"
                 placeholder="Phone number">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.street"
                 type="text"
                 required maxlength="=12"
                 placeholder="Street">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.city"
                 type="text"
                 required maxlength="=12"
                 placeholder="City">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.postalCode"
                 type="text"
                 required maxlength="=12"
                 placeholder="Postal Code">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.country"
                 type="text"
                 required maxlength="=12"
                 placeholder="Country">
        </label>
      </mat-form-field>

      <div>
        Fields marked with * must be filled.
      </div>
    </div>
  </div>
  <button mat-fab color="accent" class="fab-detail"><i class="material-icons">check</i></button>
</mat-card>





