<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" class="width-detail">

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.firstName"
                 type="text"
                 required maxlength="12"
                 placeholder="First name"
                 [readonly]="!editingEnabled"/>
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.lastName"
                 type="text"
                 required maxlength="12"
                 placeholder="Last name"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.emailAddress"
                 type="text"
                 required maxlength="12"
                 placeholder="eMail"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.phoneNumber"
                 type="text"
                 required maxlength="12"
                 placeholder="Phone number"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.streetAddress"
                 type="text"
                 required maxlength="12"
                 placeholder="Street"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.city"
                 type="text"
                 required maxlength="12"
                 placeholder="City"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [(ngModel)]="contact.postalCode"
                 type="text"
                 required maxlength="12"
                 placeholder="Postal Code"
                 [readonly]="!editingEnabled">
        </label>
      </mat-form-field>

      <div>
        Fields marked with * must be filled.
      </div>
    </div>
  </div>
  <button mat-fab class="createButton" *ngIf="editingEnabled==true" (click)="onSave()">
    <i class="material-icons">check</i>
  </button>
</mat-card>
