<mat-card>
<!--<mat-toolbar color="primary">
  <button mat-icon-button><mat-icon>menu</mat-icon>
  </button>
  Contacts
</mat-toolbar>-->

<mat-card
  *ngFor="let c of contacts" fxLayout="row" fxLayoutAlign="left middle" class="text-style">
  <ngx-avatar name="{{c.firstName}} {{c.lastName}}"></ngx-avatar>
  <mat-nav-list class="dtca-contact-list">
  <dtca-contact-list-item
  [contact]="c"
  (selected)="onContactSelect($event)">
</dtca-contact-list-item>
  </mat-nav-list>
</mat-card>

<p></p>

<button mat-fab color="accent"><i class="material-icons">add</i>
</button>
</mat-card>
