<mat-card>
<mat-toolbar>
  <button mat-fab color="accent"><i class="material-icons">list</i>
  </button>
  Contacts
</mat-toolbar>

<label>
  <input value="{{selectedContactName}}">
</label>

<mat-card
  *ngFor="let c of contacts" fxLayout="row" fxLayoutAlign="left middle" class="text-style">
  <ngx-avatar name="{{c.firstName}} {{c.lastName}}"></ngx-avatar>
  <dtca-contact-list-item
  [contact]="c"
  (selected)="onContactSelected($event)">
</dtca-contact-list-item>
</mat-card>

<p></p>

<button mat-fab color="accent"><i class="material-icons">add</i>
</button>
</mat-card>
